.react-datepicker__input-container input {
  width: 100%;
  height: 32px;
  font-family: 'Manrope';
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  border: none;
  padding: 3px 12px;
  display: flex;
  align-items: center;
  color: #000000;
  border-radius: 40px;
  border: 1px solid;
  border-color: rgba(245, 146, 86, 0.5);
  background-color: #fdf7f2;
  opacity: 1;
  cursor: auto;
}


@media screen and (min-width: 768px) {
  .react-datepicker__input-container input {
    font-size: 18px;
    line-height: 1.38;

  }
}

.react-datepicker__input-container input:disabled {
  width: 100%;
  height: 32px;
  font-family: 'Manrope';
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  border: none;
  padding: 3px 12px;
  display: flex;
  align-items: center;
  color: #000000;
  background-color: white;
  opacity: 1;
  cursor: auto;

}

@media screen and (min-width: 768px) {
  .react-datepicker__input-container input:disabled {
    font-size: 18px;
    line-height: 1.38;
  }
}

.date__picker input {
  height: 40px;
  font-family: 'Manrope';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  color: rgba(27, 27, 27, 0.6);
}
.date__picker input::placeholder {
  font-size: 14px;
  line-height: 1.4;
  color: rgba(27, 27, 27, 0.6);
}

@media screen and (min-width: 768px) {
  .date__picker input {
    height: 48px;
    font-size: 16px;
    line-height: 1.6;
  }
}

@media screen and (min-width: 768px) {
  .date__picker input::placeholder {
    height: 48px;
    font-size: 16px;
    line-height: 1.6;
  }
}
